/* Shared style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}

.btn {
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover{
    background-color: #e25d04;
    transition: all;
    transition-duration: 400ms;
}

.color-hunt {
  color: #fd6e0a;
}

.section-heading{
  max-width: 827px;
  text-align: center;
  margin: 0 auto;
}

.section-heading h2{
  color: #181818;
  font-size: 35px;
  margin-bottom: 30px;
  
}

.section-heading p {
  color: #757575;
  line-height: 30px;
  font-size: 18px;
  margin-bottom: 30px;
}

.text-center{
  text-align: center;
}

/* Shared style */





#banner {
  background-color: #fff8f3;
  margin-top: 50px;
  background: url("../assets/images/developer.png"), url("../assets/images/header_bg.png"), #fff8f3;
  background-repeat: no-repeat;
  background-position: 23px 38px, bottom right;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 71%;
  max-width: 1140px;
  margin: 0px auto;
  /* border: 1px solid blue; */
}

.logo {
  font-size: 45px;
  font-weight: 900;
}

nav .menu {
  display: flex;
  align-items: center;
  gap: 51px;
  list-style: none;
}

nav .menu a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}

#banner {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 47px 38px 0px 230px;
}

#banner .banner-content {
  max-width: 585px;
}

#banner .banner-image img{
  max-width: 584px;
  max-height: 676px;
  vertical-align: middle;
}

#banner .banner-content h2{
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}

#banner .banner-content h1{
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}

#banner .banner-content p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}

#about, #skills, #resume {
  padding-top: 130px;
}

#about .about-container{
  width: 71%;
  max-width: 1140px;
  background-color: #FFF8F3;
  margin: 0px auto;
  text-align: center;
  /* border: 1px solid red; */
  padding: 131px 156px;
  border-radius: 10px;
}

#about .about-info {
  display: flex;
  justify-content: space-around;
}

.about-info .info-card p{
  color: #757575;
  line-height: 30px;
  font-size: 20px;
}

.about-info .info-card h4{
  color: #474747;
  font-size: 20px;
  line-height: 30px;
}

#skills .skills-container{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}

#skills .skills-container .skill-box{
  display: flex;
  gap: 24px;
}

.skill-box .skill-card{
  padding: 30px;
  /* border: 1px solid red; */
  max-width: 267px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0 #0000002c;
}

.skill-card img{
  max-width: 44px;
  margin-bottom: 30px;
}

.skill-card h3{
  font-size: 20px;
  color: #181818;
  margin-bottom: 20px;
}

.skill-card p{
  line-height: 28px;
  font-size: 16px;
  color: #757575;
}


#resume .resume-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  width: 71%;
  max-width: 1140px;
  margin: 113px auto 0;
}

.resume-container hr{
  margin-bottom: 30px;
}

.resume-container .section-title {
  font-size: 30px;
  color: #474747;
  margin-bottom: 30px;
}

.resume-card{
  max-width: 511px;
  margin: 0 47px 30px 0;
}

.resume-card h3{
  font-size: 25px;
  color: #474747;
  margin-bottom: 10px;

}

.resume-card .card-info{
  font-size: 20px;
  font-weight: 600;
  color: #757575;
  margin-bottom: 20px;
}

.resume-card .card-text{
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}

footer {

  margin-top: 113px;
  background-color: #FFF8F3;
  padding: 130px 0;
  /* border: 1px solid rebeccapurple; */
}

 footer .footer-container {
  
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 116px;
  /* border: 1px solid red; */
}

.footer-container > div {
  flex: 1;
}


.footer-container .footer-info{
  font-size: 35px;
  color: #181818;
  margin-bottom: 36px;
}

.footer-container .social{
  max-width: 562px;
}

.footer-container .social p{
  color: #474747;
  line-height: 28px;
  font-size: 16px;
  margin-bottom: 14px;
}

.footer-container .icons a{
  margin-right: 24px;
}

.footer-container form input[type= "text"], 
.footer-container form textarea{
  width: 461px;
  padding: 18px 31px;
  margin-bottom: 24px;
  border: none;
  border-radius: 5px;
  color: #757575
}

input::placeholder,
textarea::placeholder {
  font-size: 16px;
}


.hide{
  display: none !important;
}

@media screen and (max-width: 576px) {
  #about, #skills, #resume, footer {
    padding-top: 80px;
  }
  .btn {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
}
.btn>i {
  font-size: 15px;
  margin-right: 3px;
}


  /* header */
  nav {
    gap: 30px;
    width: 95%;
}
nav .menu {
    gap: 30px;
}
#banner {
   flex-direction: column;
   margin: 30px 0 0 0;
}
#banner {
  background: url("../assets/images/header_bg.png"), #fff8f3;
  background-repeat: no-repeat;
  background-position: center;
}
#banner .banner-content {
    width: 95%;
}
#banner .banner-content h2 {
    font-size: 35px;
    margin-bottom: 0px;
    text-align: center;
}
#banner .banner-content h1 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 15px;
}
#banner .banner-content p {
    text-align: center;
}
.group-button{
  display: flex;
  justify-content: center;
  gap: 10px;
}
.banner-image img {
  width: 100%;
  margin-top: 20px;
}
  /* skills */

  #skills .skills-container {
    width: 95%;
}

.section-heading h2, .footer-container .footer-info {
    font-size: 28px;
    margin-bottom: 25px;
}

#skills .skills-container .skill-box {
    flex-direction: column;
    gap: 10px;
}

.skill-box .skill-card {
    padding: 30px;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0 #0000002c;
}

.skill-card img {
    margin-bottom: 15px;
}

.skill-card h3 {
    margin-bottom: 10px;
}
/* skills */

/* Resume */
#resume .resume-container {
    flex-direction: column;
    gap: 20px;
    width: 95%;
    margin-top: 20px;
}
.resume-container .section-title {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}
.resume-card h3 {
    font-size: 22px;
}
.resume-card .card-info {
    margin-bottom: 15px;
}

/* About us */

#about .about-container {
    width: 100%;
    padding: 10px;
}
#about .about-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
/* About us */

/* Footer */

footer {
    margin-top: 0px;
}
footer .footer-container {
    width: 95%;
    flex-direction: column;
    gap: 30px;
}
.footer-container .footer-info {
  font-size: 28px;
  text-align: center;
}
form {
  text-align: center;
}
.footer-container form input[type= "text"], .footer-container form textarea {
    width: 100%;
}
/* Footer */


}