/* Shared style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}

.btn {
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover{
    background-color: #e25d04;
    transition: all;
    transition-duration: 400ms;
}

.color-hunt {
  color: #fd6e0a;
}

.section-heading{
  max-width: 827px;
  text-align: center;
  margin: 0 auto;
}

.section-heading h2{
  color: #181818;
  font-size: 35px;
  margin-bottom: 30px;
  
}

.section-heading p {
  color: #757575;
  line-height: 30px;
  font-size: 18px;
  margin-bottom: 30px;
}

/* Shared style */



header {
  background-color: #fff8f3;
  margin-top: 50px;
  background: url("../assets/images/developer.png"), url("../assets/images/header_bg.png"), #fff8f3;
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 71%;
  max-width: 1140px;
  margin: 0px auto;
  /* border: 1px solid blue; */
}

.logo {
  font-size: 45px;
  font-weight: 900;
}

nav .menu {
  display: flex;
  align-items: center;
  gap: 51px;
  list-style: none;
}

nav .menu a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}

#banner {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 47px 38px 0px 230px;
}

#banner .banner-content {
  max-width: 585px;
}

#banner .banner-image img{
  max-width: 584px;
  max-height: 676px;
  vertical-align: middle;
}

#banner .banner-content h2{
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}

#banner .banner-content h1{
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}

#banner .banner-content p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}

#about {
  margin-top: 130px;
}

#about .about-container{
  width: 71%;
  max-width: 1140px;
  background-color: #FFF8F3;
  margin: 0px auto;
  text-align: center;
  /* border: 1px solid red; */
  padding: 131px 156px;
  border-radius: 10px;
}

#about .about-info {
  display: flex;
  justify-content: space-around;
}

.about-info .info-card p{
  color: #757575;
  line-height: 30px;
  font-size: 20px;
}

.about-info .info-card h4{
  color: #474747;
  font-size: 20px;
  line-height: 30px;
}

#skills {
  padding-top: 130px;
}

#skills .skills-container{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}

#skills .skills-container .skill-box{
  display: flex;
  gap: 24px;
}

.skill-box .skill-card{
  padding: 30px;
  /* border: 1px solid red; */
  max-width: 267px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0 #0000002c;
}

.skill-card img{
  max-width: 44px;
  margin-bottom: 30px;
}

.skill-card h3{
  font-size: 20px;
  color: #181818;
  margin-bottom: 20px;
}

.skill-card p{
  line-height: 28px;
  font-size: 16px;
  color: #757575;
}